@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
.icon {
    height: 40px;
}

@media( max-width: 100%) {
    #Heading {
        font-size: 24px;
        line-height: 4rem;
    }
    .blurb h1 {
        font-size: 2rem;
    }
}

.navbar-toggler-icon {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.navbar {
    opacity: 0%;
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=0);
    /* Opacity for IE8 and lower */
    zoom: 0%;
    z-index: 70;
}

.navbar.scrolled {
    background: #fafafa;
    transition: background 500ms;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.116);
    margin-bottom: 0px;
    opacity: 100%;
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=100);
    /* Opacity for IE8 and lower */
    zoom: 100%;
}

.nav-link {
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    border-bottom: solid 2px;
    overflow: hidden;
    border-color: #d4210100;
    transition: color 200ms;
    transition: border-color 200ms;
}

.nav-link:hover {
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: solid 2px #d42001;
    overflow: hidden;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(4, 85, 190);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(212, 32, 1);
}

.nav-item {
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 360px;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: justify;
}

.demo {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
}

.demo h1 {
    margin-top: 0;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #ebebeb;
    height: 350px;
    font-family: 'Josefin Sans', sans-serif;
    color: #363636;
    font-size: 15px;
    text-align: center;
}

.fa {
    padding: 5px;
}

.icons8-instagram {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCA2NCA2NCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cmFkaWFsR3JhZGllbnQgaWQ9IlRHd2ptWk1tMld+QjR5cmd1cDZqZGEiIGN4PSIzMiIgY3k9IjMyLjUiIHI9IjMxLjI1OSIgZ3JhZGllbnRUcmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAtMSAwIDY0KSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2VmZGNiMSI+PC9zdG9wPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2YyZTBiYiI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjAxMSIgc3RvcC1jb2xvcj0iI2YyZTBiYyI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjM2MiIgc3RvcC1jb2xvcj0iI2Y5ZWRkMiI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjY5OSIgc3RvcC1jb2xvcj0iI2ZlZjRkZiI+PC9zdG9wPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2ZmZjdlNCI+PC9zdG9wPjwvcmFkaWFsR3JhZGllbnQ+PHBhdGggZmlsbD0idXJsKCN1bmRlZmluZWQpIiBkPSJNNTgsNTRjLTEuMSwwLTItMC45LTItMnMwLjktMiwyLTJoMi41YzEuOSwwLDMuNS0xLjYsMy41LTMuNVM2Mi40LDQzLDYwLjUsNDNINTBjLTEuNCwwLTIuNS0xLjEtMi41LTIuNQlTNDguNiwzOCw1MCwzOGg4YzEuNywwLDMtMS4zLDMtM3MtMS4zLTMtMy0zSDQydi02aDE4YzIuMywwLDQuMi0yLDQtNC40Yy0wLjItMi4xLTIuMS0zLjYtNC4yLTMuNkg1OGMtMS4xLDAtMi0wLjktMi0yczAuOS0yLDItMgloMC40YzEuMywwLDIuNS0wLjksMi42LTIuMmMwLjItMS41LTEtMi44LTIuNS0yLjhoLTE0QzQzLjcsOSw0Myw4LjMsNDMsNy41UzQzLjcsNiw0NC41LDZoMy45YzEuMywwLDIuNS0wLjksMi42LTIuMglDNTEuMSwyLjMsNTAsMSw0OC41LDFIMTUuNmMtMS4zLDAtMi41LDAuOS0yLjYsMi4yQzEyLjksNC43LDE0LDYsMTUuNSw2SDE5YzEuMSwwLDIsMC45LDIsMnMtMC45LDItMiwySDYuMmMtMi4xLDAtNCwxLjUtNC4yLDMuNglDMS44LDE2LDMuNywxOCw2LDE4aDIuNWMxLjksMCwzLjUsMS42LDMuNSwzLjVTMTAuNCwyNSw4LjUsMjVINS4yYy0yLjEsMC00LDEuNS00LjIsMy42QzAuOCwzMSwyLjcsMzMsNSwzM2gxN3YxMUg2CWMtMS43LDAtMywxLjMtMywzczEuMywzLDMsM2wwLDBjMS4xLDAsMiwwLjksMiwycy0wLjksMi0yLDJINC4yYy0yLjEsMC00LDEuNS00LjIsMy42Qy0wLjIsNjAsMS43LDYyLDQsNjJoNTMuOAljMi4xLDAsNC0xLjUsNC4yLTMuNkM2Mi4yLDU2LDYwLjMsNTQsNTgsNTR6Ij48L3BhdGg+PHJhZGlhbEdyYWRpZW50IGlkPSJUR3dqbVpNbTJXfkI0eXJndXA2amRiIiBjeD0iMTguNTEiIGN5PSI2Ni4yOTMiIHI9IjY5LjY0OCIgZ3JhZGllbnRUcmFuc2Zvcm09Im1hdHJpeCguNjQzNSAtLjc2NTQgLjUwNTYgLjQyNTEgLTI2LjkyIDUyLjI4MikiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9Ii4wNzMiIHN0b3AtY29sb3I9IiNlYWNjN2IiPjwvc3RvcD48c3RvcCBvZmZzZXQ9Ii4xODQiIHN0b3AtY29sb3I9IiNlY2FhNTkiPjwvc3RvcD48c3RvcCBvZmZzZXQ9Ii4zMDciIHN0b3AtY29sb3I9IiNlZjgwMmUiPjwvc3RvcD48c3RvcCBvZmZzZXQ9Ii4zNTgiIHN0b3AtY29sb3I9IiNlZjZkM2EiPjwvc3RvcD48c3RvcCBvZmZzZXQ9Ii40NiIgc3RvcC1jb2xvcj0iI2YwNGI1MCI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjUxNiIgc3RvcC1jb2xvcj0iI2YwM2U1OCI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjY4OSIgc3RvcC1jb2xvcj0iI2RiMzU5ZSI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjcyNCIgc3RvcC1jb2xvcj0iI2NlMzdhNCI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjc4OSIgc3RvcC1jb2xvcj0iI2FjM2NiNCI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjg3NyIgc3RvcC1jb2xvcj0iIzc1NDRjZiI+PC9zdG9wPjxzdG9wIG9mZnNldD0iLjk4IiBzdG9wLWNvbG9yPSIjMmI0ZmYyIj48L3N0b3A+PC9yYWRpYWxHcmFkaWVudD48cGF0aCBmaWxsPSJ1cmwoI3VuZGVmaW5lZCkiIGQ9Ik00NSw1N0gxOWMtNS41LDAtMTAtNC41LTEwLTEwVjIxYzAtNS41LDQuNS0xMCwxMC0xMGgyNmM1LjUsMCwxMCw0LjUsMTAsMTB2MjZDNTUsNTIuNSw1MC41LDU3LDQ1LDU3eiI+PC9wYXRoPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0zMiwyMGM0LjYsMCw1LjEsMCw2LjksMC4xYzEuNywwLjEsMi42LDAuNCwzLjIsMC42YzAuOCwwLjMsMS40LDAuNywyLDEuM2MwLjYsMC42LDEsMS4yLDEuMywyIGMwLjIsMC42LDAuNSwxLjUsMC42LDMuMkM0NiwyOC45LDQ2LDI5LjQsNDYsMzRzMCw1LjEtMC4xLDYuOWMtMC4xLDEuNy0wLjQsMi42LTAuNiwzLjJjLTAuMywwLjgtMC43LDEuNC0xLjMsMiBjLTAuNiwwLjYtMS4yLDEtMiwxLjNjLTAuNiwwLjItMS41LDAuNS0zLjIsMC42QzM3LjEsNDgsMzYuNiw0OCwzMiw0OHMtNS4xLDAtNi45LTAuMWMtMS43LTAuMS0yLjYtMC40LTMuMi0wLjYgYy0wLjgtMC4zLTEuNC0wLjctMi0xLjNjLTAuNi0wLjYtMS0xLjItMS4zLTJjLTAuMi0wLjYtMC41LTEuNS0wLjYtMy4yQzE4LDM5LjEsMTgsMzguNiwxOCwzNHMwLTUuMSwwLjEtNi45IGMwLjEtMS43LDAuNC0yLjYsMC42LTMuMmMwLjMtMC44LDAuNy0xLjQsMS4zLTJjMC42LTAuNiwxLjItMSwyLTEuM2MwLjYtMC4yLDEuNS0wLjUsMy4yLTAuNkMyNi45LDIwLDI3LjQsMjAsMzIsMjAgTTMyLDE3IGMtNC42LDAtNS4yLDAtNywwLjFjLTEuOCwwLjEtMywwLjQtNC4xLDAuOGMtMS4xLDAuNC0yLjEsMS0zLDJzLTEuNSwxLjktMiwzYy0wLjQsMS4xLTAuNywyLjMtMC44LDQuMUMxNSwyOC44LDE1LDI5LjQsMTUsMzQgczAsNS4yLDAuMSw3YzAuMSwxLjgsMC40LDMsMC44LDQuMWMwLjQsMS4xLDEsMi4xLDIsM2MwLjksMC45LDEuOSwxLjUsMywyYzEuMSwwLjQsMi4zLDAuNyw0LjEsMC44YzEuOCwwLjEsMi40LDAuMSw3LDAuMSBzNS4yLDAsNy0wLjFjMS44LTAuMSwzLTAuNCw0LjEtMC44YzEuMS0wLjQsMi4xLTEsMy0yYzAuOS0wLjksMS41LTEuOSwyLTNjMC40LTEuMSwwLjctMi4zLDAuOC00LjFjMC4xLTEuOCwwLjEtMi40LDAuMS03IHMwLTUuMi0wLjEtN2MtMC4xLTEuOC0wLjQtMy0wLjgtNC4xYy0wLjQtMS4xLTEtMi4xLTItM3MtMS45LTEuNS0zLTJjLTEuMS0wLjQtMi4zLTAuNy00LjEtMC44QzM3LjIsMTcsMzYuNiwxNywzMiwxN0wzMiwxN3oiPjwvcGF0aD48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMzIsMjVjLTUsMC05LDQtOSw5czQsOSw5LDlzOS00LDktOVMzNywyNSwzMiwyNXogTTMyLDQwYy0zLjMsMC02LTIuNy02LTZzMi43LTYsNi02czYsMi43LDYsNlMzNS4zLDQwLDMyLDQwIHoiPjwvcGF0aD48Y2lyY2xlIGN4PSI0MSIgY3k9IjI1IiByPSIyIiBmaWxsPSIjZmZmIj48L2NpcmNsZT48L3N2Zz4=') 50% 50% no-repeat;
    background-size: 100%;
}

.center {
    text-align: center;
}

#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

#facebook {
    color: #3b5998;
    font-size: 24px;
}

#twitter {
    color: #00acee;
    font-size: 24px;
}

#youtube {
    color: #dd0700;
    font-size: 24px;
}

#telegram {
    color: #0088cc;
    font-size: 24px;
}

#mail {
    color: #0684ce;
    padding-right: 7px;
}

#phone {
    color: #00830b;
    padding-right: 5px;
}

#whatsapp {
    color: #00830b;
    padding-right: 5px;
}

.head {
    font-weight: 100;
    font-size: 25px;
}

#telegram-btn {
    font-size: medium;
}

#telegram-text {
    font-size: small;
    font-family: 'Josefin Sans', sans-serif;
}

#telegram-ico {
    font-size: medium;
}

#telegram-btn {
    border: none;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 7px;
    outline: none;
    color: #0088cc;
}

#youtube-text {
    font-size: small;
    font-family: 'Josefin Sans', sans-serif;
}

#youtube-ico {
    font-size: medium;
}

#youtube-btn {
    border: none;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 7px;
    outline: none;
    color: #dd0700;
}

#telegram-btn:hover {
    background-color: white;
    text-decoration: none;
}

#youtube-btn:hover {
    background-color: white;
    text-decoration: none;
}

.qlink {
    color: black;
}

.qlink:hover {
    color: #363636;
    text-decoration: none;
}

#goto {
    white-space: pre;
}

.contactinfo {
    white-space: nowrap;
}