@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap');

.heading{
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    font-size: 37px;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 1vh;
}
.headingline{
    margin-bottom : 5%;
    height: 2px;
    background-color: rgba(0, 0, 131, 0.582);
    width : 20% 
}

.heading:hover + .headingline{
    animation-name: headinglineresize;
    animation-duration: 0.25s;
    width : 20%;
    width : 22%;
}
.heading:hover{
    animation-name: headingresize;
    animation-duration: 0.25s;
    font-size: 42px;
}
@keyframes headinglineresize{
    0%{width : 20%;}
    100%{width : 22%;}
}
@keyframes headingresize{
    0%{font-size: 37px;}
    100%{font-size: 42px;}
}

.card{
    padding : 0;
    background-color : #00000000;
    border: none;
    border-radius : 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.041), 0 6px 20px 0 rgba(0, 0, 0, 0.13);

    transition : box-shadow 200ms;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.445);
}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.card-text{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 5px;
    
}

.card-subtitle{
    font-family: 'Biryani', sans-serif;
    font-size: 14px;
}
.card-body{
    height: 100%;
}

.cardspace{
    padding : 10px;
}

.listen{    
    position: absolute !important;
    left : 25%;
    right : 25%;
    bottom : 15;

    width : 50%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;

    white-space: pre;
    padding : 10px;

    border-radius : 15px;
}

.centertext{
    color: rgb(156, 156, 156);
    margin : 1.5vw;
    font-size: 1.5vw;
}

.centertextsm{
    color: rgb(156, 156, 156);
    margin : 1.5vw;
    font-size: 4vw;
}

.card-img-top{
    padding : 0;
    margin : 0;
    width : 100%;
    object-fit: cover;
    border-radius : 15px;
    border-bottom: 1px solid #e0e0e0;
}

.imagelink{
    padding : 0;
    object-fit: cover;
}

.card a{
    padding : 0;
}

.card .listen{
    padding : 5px;
}


#miniplayer{

    background-color : #ffffff;
 
    position: sticky;
    bottom: 20px;
    left : 0;
    right : 0;

    z-index : 50;

    margin-bottom : 30px;
    margin-left : auto;
    margin-right : auto;
    width :80vw;
    max-width : 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.445);

    border-radius : 10px;
}


#close{    
    height : 80px;
    background-color : #eeeeee;
}

.spotifyheader{
    background-color : #ffffff;
    padding : 10px;    
    width : 100%;
    border-radius : 10px;
}

.spotifyimg{
    height : 40px;
}

.icons{
    margin : 0 5px;
    cursor : hand;
}

#spotify{
    transition : height 400ms;
    border-radius : 10px;
    border: none;
}
