@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap');

.heading{
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    font-size: 4.5vh;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 1vh;
}
.headingline{
    margin-bottom : 5%;
    height: 2px;
    background-color: rgba(0, 0, 131, 0.582);
    width : 20% 
}

.heading:hover + .headingline{
    animation-name: headinglineresize;
    animation-duration: 0.25s;
    width : 20%;
    width : 22%;
}
.heading:hover{
    animation-name: headingresize;
    animation-duration: 0.25s;
    font-size: 3.7vh;
    font-size: 4.7vh;
}
@keyframes headinglineresize{
    0%{width : 20%;}
    100%{width : 22%;}
}
@keyframes headingresize{
    0%{font-size: 4.5vh;}
    100%{font-size: 4.7vh;}
}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
}

.card-text{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8vh;
    padding-bottom: 5px;
    
}

.card-subtitle{
    font-family: 'Biryani', sans-serif;
    font-size: 1.8vh;
}
.card-body{
    height: 100%;
}
.listen{    
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8vh;
    text-align: center;
}

.centertext{
    color: rgb(156, 156, 156);
    margin : 1.5vw;
    font-size: 1.5vw;
}

.centertextsm{
    color: rgb(156, 156, 156);
    margin : 1.5vw;
    font-size: 4vw;
}