@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap');

.heading{
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    font-size: 4.5vh;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 1vh;
}
.headingline{
    margin-bottom : 5%;
    height: 2px;
    background-color: rgba(0, 0, 131, 0.582);
    width : 20% 
}

.heading:hover + .headingline{
    animation-name: headinglineresize;
    animation-duration: 0.25s;
    width : 20%;
    width : 22%;
}
.heading:hover{
    animation-name: headingresize;
    animation-duration: 0.25s;
    font-size: 3.7vh;
    font-size: 4.7vh;
}
@keyframes headinglineresize{
    0%{width : 20%;}
    100%{width : 22%;}
}
@keyframes headingresize{
    0%{font-size: 4.5vh;}
    100%{font-size: 4.7vh;}
}

.member{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Roboto', sans-serif;
}
.content{
    padding: 3vh;
    padding-top: 0.5vh;
}

.teamimg{
    width : 100%;
    padding: 3vh;
}

.name{
    font-size: 5vh;
    font-weight: 500;
}
.designation{
    font-size: 3vh;
    font-weight: 400;
    color: rgb(182, 0, 0);
}
.teamtext{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5vh;
}

.smlinks{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5vh;
    padding-right: 15px;    
    margin-top : 3vh;
}
.smicon{
    margin : 1vh;
}
.sminstagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4vh;
}

.smfacebook {
    color : #3b5998;
    font-size: 4vh;
}
.smtwitter {
    color : #00acee;
    font-size: 4vh;
}
.smyoutube {
    color : #dd0700;
    font-size: 4vh;
  }
.fab1{
    font-size: 2vw;
}
.fab2{
    font-size: 7.5vw;
}

.FAQqn1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.5vh;
    color: #d32a00;
    font-weight: 700;
    margin-bottom: 2vh;
}

.FAQqn{
    padding-top: 40px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.5vh;
    color: #d32a00;
    font-weight: 700;
    margin-bottom: 2vh;
}

.FAQans{
    text-indent: 60px;
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    font-size: 2.5vh;
    padding-left: 3vw;
    padding-right:3vw;
}

.FAQans p{
    padding-bottom : 1.5vh;
}
.FAQline{
    background-color: #d32a00;
    width: 150px;
    height: .25vh;
}

.FAQcontact{
    margin-left : -50px;
}